@header-height: 60px;
@header-padding: 5px;

.standings {
  * {
    text-align: center;
  }

  .table-wrapper {
    padding-top: 10px;
    max-width: 600px;
    margin: 0 auto;
  }

  .league-name {
    text-decoration: underline;
  }

  .refresh-results {
    margin: 10px auto 0;
    width: 100px;
  }
}

.standings--header {
  padding: @header-padding;
  height: @header-height;
  line-height: @header-height / 2 - @header-padding;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  background-color: lightgray;
  border-bottom: 1px solid darkgrey;
  z-index: 1;
  width: 100%;
}

.standings--content {
  padding: (@header-height + @header-padding) @header-padding @header-padding;
}
