@header-height: 60px;
@header-padding: 5px;

.standings {
  * {
    text-align: center;
    width: 100%;
  }

  .table-wrapper {
    padding-top: 10px;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;

    td, th {
      font-size: 0.55em;
      line-height: 1.5em;
      height: 30px;
      padding: 2px;
    }

    th {
      text-decoration: underline;
    }

    tbody tr:hover {
      background-color: grey;
      color: white;
    }

    tbody tr:nth-child(even) {
      background-color: lightgrey;

      &:hover {
        background-color: grey;
      }
    }

    thead tr {
      background-color: seagreen;
      color: lightcyan;
    }
  }

  .league-name {
    text-decoration: underline;
  }

  .refresh-results {
    margin: 10px auto 0;
    text-decoration: none;
    padding: 5px;
    width: 100px;
    display: block;
    position: relative;
    border: 1px solid darkgreen;
    color: black;
    background-color: darkseagreen;

    &:hover {
      background-color: lightgrey;
    }

    &:visited {
      text-decoration: none;
      color: black;
    }
  }
}

.standings--header {
  padding: @header-padding;
  height: @header-height;
  line-height: @header-height / 2 - @header-padding;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  background-color: lightgray;
  border-bottom: 1px solid darkgrey;
  z-index: 1;
}

.standings--content {
  padding: (@header-height + @header-padding) @header-padding @header-padding;
}
