{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "isNaN": true,
    "window": true
  },
  "rules": {
    "max-len": 0,
    "no-console": 2,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/jsx-wrap-multilines": [2, {
      "declaration": "parens-new-line",
      "assignment": "parens-new-line",
      "return": "parens-new-line",
      "arrow": "parens-new-line",
      "condition": "parens-new-line",
      "logical": "parens-new-line",
      "prop": "parens-new-line"
    }],
    "import/prefer-default-export": 0
  }
}
