{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "isNaN": true,
    "window": true
  },
  "rules": {
    "max-len": 0,
    "no-console": 2,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "import/prefer-default-export": 0
  }
}
