.filter {
  span {
    padding: 6px;
    border-radius: 12px;
    font-size: 10px;
    margin: 5px;
    border: 1px solid darkgreen;
    display: inline-block;
  }

  input:checked + span {
    background-color: darkgreen;
    color: white;
  }

  .checkbox {
    display: none;
  }
}

.configure-columns--toggle {
  margin: 10px auto;
  line-height: 15px;
  font-size: 10px;
  width: 150px;
}
