body {
  background-color: lightgreen;
}

* {
  box-sizing: border-box;
}

.button {
  text-decoration: none;
  padding: 5px;
  display: block;
  position: relative;
  border: 1px solid darkgreen;
  color: black;
  background-color: darkseagreen;
  border-radius: 4px;

  &:hover {
    background-color: lightgrey;
  }

  &:visited {
    text-decoration: none;
    color: black;
  }
}
