.pick-league {
  * {
    text-align: center;
  }

  h1 {
    font-size: 1.5em;
    margin: 12px 0;
  }

  h2 {
    font-size: 1.2em;
    margin: 8px 0;
    text-decoration: underline;
  }

  .classic-leagues--list {
    // Should treat these as generic list styles...
    list-style: none;
    padding: 0;
  }
}
